[user]
  name = Guilherme Victor
  email = 55333929+guivictorr@users.noreply.github.com
	signingKey = CB996F1DB17826C4
	
[alias]
	a = add
	sts = status -sb
	cm = commit -m
	ca = commit -a
	aall = add .
	fuck = reset --hard
	db = !"git branch --merged | grep -vE 'main|master|\\*' | xargs -n 1 git branch -D"
[core]
  autocrlf = false
[commit]
	gpgSign = true
